:root {
  --green: #164734;
  --sgbusgreen: #6bd425;
  --amber: #ffbf00;
  --honeydew: #f0fff0;
  --mintcream: #f5fff5;
}

body {
  min-height: 100vh;
  place-items: center;
  background-color: #f5fff5;
}

.navbar {
  background-color: var(--mintcream);
  height: 100px;
  padding: 0 80px;
}

.nav-btn {
  background-color: var(--sgbusgreen);
  color: var(--mintcream);
  padding: 10px;
  width: 180px;
}

.nav-btn:hover {
  background-color: var(--green);
  color: var(--honeydew);
}

.navbar-brand {
  color: #daa520;
  font-weight: bolder;
  font-size: 2rem;
}

.navbar-brand:hover {
  color: #daa520;
  text-decoration: underline;
}

.navbar-brand img {
  width: 100px;
  margin-right: -25px;
}

.header {
  padding: 50px 150px;
  height: 40rem;
  display: flex; /* Flexbox for the entire row */
  align-items: stretch;
}

.header .text-box {
  display: flex; /* Use Flexbox for individual columns */
  flex-direction: column; /* Align children vertically */
  justify-content: center;
  margin: 0;
}

.header .image-box {
  display: flex; /* Ensure Flexbox applies to this div */
  align-items: flex-end; /* Align image to the bottom of the div */
  justify-content: center;
  margin: 0;
  height: 37rem;
}

.header h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 30px;
  font-weight: bold;
}

.header h1 .light {
  color: var(--sgbusgreen);
}

.header p {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.header img {
  width: 775px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.scroll-box {
  overflow: hidden;
  width: calc(100% + 12px);
  background-color: var(--green);
  padding: 40px 0;
  align-items: center;
  margin: 0;
  display: flex;
  position: relative;
}

.scroll-box span {
  color: var(--mintcream);
  font-size: 1.8em;
  display: inline-block;
  margin-right: 1rem;
}

.scroll-box .scroll-icon {
  color: var(--sgbusgreen);
  fill: #6bd425;
}
