:root {
  --green: #164734;
  --sgbusgreen: #1ebc0f;
  --amber: #ffbf00;
  --honeydew: #e6ffe6;
  --mintcream: #f5fff5;
}

body {
  min-height: 100vh;
  place-items: center;
  background-color: var(--mintcream);
}

.hairvrything {
  color: var(--sgbusgreen);
}

.navbar {
  background-color: var(--mintcream);
  height: 100px;
  padding: 0 80px;
  box-shadow: 0px 0px 10px #1647341a;
}

.nav-btn {
  background-color: var(--sgbusgreen);
  color: var(--mintcream);
  padding: 10px;
  width: 180px;
}

.nav-btn:hover {
  background-color: var(--green);
  color: var(--honeydew);
}

.navbar-brand {
  color: #daa520;
  font-weight: bolder;
  font-size: 2rem;
}

.navbar-brand:hover {
  color: #daa520;
  text-decoration: underline;
}

.navbar-brand img {
  width: 100px;
  margin-right: -25px;
}

.header {
  padding: 50px 150px;
  height: 40rem;
  display: flex; /* Flexbox for the entire row */
  align-items: stretch;
}

.header .text-box {
  display: flex; /* Use Flexbox for individual columns */
  flex-direction: column; /* Align children vertically */
  justify-content: center;
  margin: 0;
}

.header .image-box {
  display: flex; /* Ensure Flexbox applies to this div */
  align-items: flex-end; /* Align image to the bottom of the div */
  justify-content: center;
  margin: 0;
  height: 37rem;
}

.header h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 30px;
  font-weight: bold;
}

.header h1 .light {
  color: var(--sgbusgreen);
}

.header p {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.header img {
  width: 775px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.scroll-box {
  overflow: hidden;
  width: calc(100% + 8px);
  padding: 40px 0;
  align-items: center;
  margin: 0;
  display: flex;
  position: relative;
  background-image: url('./assets/images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.scroll-box span {
  color: var(--mintcream);
  font-size: 1.8em;
  display: inline-block;
  margin-right: 1rem;
}

.scroll-box .scroll-icon {
  color: var(--sgbusgreen);
  fill: #6bd425;
}

.who-box {
  padding: 50px 150px 0 150px;
  height: 40rem;
  display: flex;
  align-items: stretch;
}

.who-box .image-box {
  display: flex; /* Ensure Flexbox applies to this div */
  align-items: flex-end; /* Align image to the bottom of the div */
  justify-content: center;
  margin: 0;
  height: 31.6rem;
}

.who-box .image-box img {
  object-fit: cover;
  width: 775px;
  max-width: 100%;
  height: auto;
  margin-bottom: -10px;
}

.who-box .text-box {
  display: flex; /* Use Flexbox for individual columns */
  flex-direction: column; /* Align children vertically */
  justify-content: center;
  margin: 0;
}

.who-box h1 {
  font-size: 3rem;
  color: var(--green);
}

.who-box h2 {
  font-size: 3rem;
}

.who-box p {
  font-size: 1.5rem;
}

.pledge {
  background-image: url('./assets/images/bg.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 150px;
}

.pledge h1 {
  font-size: 3.5rem;
  color: var(--honeydew);
}

.pledge .container {
  margin-top: 40px;
}

.pledge .card {
  width: 35rem;
  border-radius: 30px;
  margin: 20px 10px;
  padding: 40px 20px;
}

.card-1 {
  background-color: #ffd54d;
}

.card-2 {
  background-color: #d1ffd1;
}

.card-3 {
  background-color: #d9ffd9;
}

.card-4 {
  background-color: #49d43f;
}

.pledge .card img {
  width: 40%;
}

.pledge .card-body {
  padding-top: 30px;
}

.pledge .card-text {
  font-size: 1.5rem;
}

.discover {
  width: 100%;
  padding: 50px 100px;
}

.discover h1 {
  font-size: 3.5rem;
}

.discover.container {
  display: flex;
  overflow: hidden;
  height: 50rem;
}

.discover .left-section {
  flex: 1; /* Take half the width */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;
  font-size: 2rem; /* Heading font size */
  font-weight: bold; /* Bold text for emphasis */
  padding: 20px; /* Padding for spacing */
  text-align: center; /* Center-align text */
}

.discover .right-section {
  flex: 1; /* Take half the width */
  display: flex; /* Flexbox for columns */
  justify-content: space-between; /* Space between the two columns */
  padding: 20px; /* Padding around the section */
  gap: 20px;
  background-image: url('./assets/images/discover-bg.png');
  background-size: cover;
}

.discover .cards-container {
  overflow: hidden; /* Hide overflowing cards */
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  gap: 10px;
}

.discover .card {
  padding: 20px 5px;
  border-radius: 10px;
  text-align: start;
  width: 300px;
  margin: 20px 0;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.discover .card:hover {
  transform: scale(1.05); /* Slightly enlarge card */
  transition: all 0.6s ease;
}

.discover .card img {
  width: 80px;
  padding-left: 15px;
  padding-top: 20px;
}

.discover .card .card-body {
  margin-top: 10px;
}

.discover .card .card-heading {
  font-size: 1.1rem;
  color: var(--green);
  font-weight: bold;
}

.discover .card .card-text {
  font-size: 0.9rem;
}

.faq {
  width: 100%;
  padding: 100px;
  background-color: var(--honeydew);
}

.faq h6 {
  color: var(--sgbusgreen);
}

.faq h1 {
  font-size: 3.5rem;
}

.accordion-container {
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid #1647341a;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.accordion-header:hover {
  background-color: var(--mintcream);
}

.accordion-header h3 {
  margin: 10px 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.accordion-body {
  padding: 15px 20px;
}

.accordion-body p {
  margin: 0 0 30px 0;
  font-size: 1.2rem;
}

.personalized {
  width: 100%;
  padding: 50px 100px 75px 100px;
}

.personalized p {
  width: 700px;
  font-size: 2.2rem;
  color: var(--green);
  line-height: 2.5rem;
  margin: 30px auto;
}

footer {
  width: 100%;
  padding: 50px;
  background-image: url('./assets/images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .row {
  margin: 0 50px;
}

footer .footer-logo {
  color: #daa520;
  font-weight: bolder;
  font-size: 2.2rem;
}

footer .footer-logo:hover {
  color: #daa520;
  text-decoration: underline;
}

footer .footer-logo img {
  width: 100px;
  margin-right: -25px;
  margin-left: -30px;
}

footer p {
  font-size: 1.4rem;
  color: var(--mintcream);
}

footer form input {
  width: 300px;
  color: var(--green);
  padding: 11px 12px 15px 12px;
  margin: 0 0 10px 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--mintcream);
}

footer form .btn {
  background-color: var(--sgbusgreen);
  color: var(--mintcream);
  font-weight: bold;
  padding: 12px 0;
  width: 100px;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--mintcream);
}

footer form .btn:hover {
  background-color: var(--green);
  color: var(--mintcream);
}

.social-icon {
  font-size: 25px;
  margin: 0 10px;
  fill: var(--mintcream);
}

.social-icon:hover {
  fill: var(--amber);
}

.custom-hr2 {
  width: 100%;
  border: 2px solid var(--mintcream);
}

footer .copy {
  font-size: 16px;
}
